$title-color: #333333;
$text-color: #666666;
$hover-color: #E34444;
$border-color: #eaeaea;
$border-transparent: rgba(234, 234, 234, 0.3);

// * Container Product
.active>span {
      border-bottom: 2px solid #000;

      &:before {
            display: block;
      }
}