.container__axel {
      width: 100%;
      min-height: 420px;
      margin-bottom: 60px;
      background-color: #F0F0F0;

      &-image {
            padding-left: 85px;
            padding-top: 30px;

      }

      &-info {
            padding-left: 30px;
            padding-top: 40px;
            padding-right: 30px;
      }

      &-heading {
            color: $title-color;
            font-size: 50px;
            line-height: 65px;
            margin-bottom: 10px;
      }

      &-title {
            color: $title-color;
            font-size: 14px;
            margin-bottom: 10px;
      }

      &-desc {
            color: $text-color;
            line-height: 1.6;
            margin-bottom: 10px;
      }

      &-btn {
            font-size: 13px;
            padding: 6px 25px;
            display: inline-block;
      }
}